#ignore the saved data file
/data/*
/localization_multiRNA/
/embeddings/


#ignore the model file
/saved_model/


#ignore the cluster running file
./*.sh
./*.out


#any log file
./scripts/outputs/
./*.out
./multirun/
./scripts/multirun